.sign_footer
  %ul.footer__content
    %li.footer__content__text
      = link_to "プライバシーポリシー", "#", class: :footer__content__text__policy
    %li.footer__content__text
      = link_to "フリマ利用規約", "#", class: :footer__content__text__policy
    %li.footer__content__text
      = link_to "特定商法取引に関する規約", "#",  class: :footer__content__text__policy
  .footer__image
    = link_to image_tag "/logo/logo.png", size: "200x50"
