.container-main__button {
  background-color: #fff;
  height: 150px;
  margin-top: 40px;
  position: relative;
  p {
    list-style: none;
    color: #fff;
    position: absolute;
    background-color: $blue;
    padding: 12px 120px;
    top: 51px;
    right: 21%;
    border-radius: 5px;
  }
}
