.items__item
  = link_to "#" do
    .items__item__image
      = image_tag "/test.jpg", alt: "画像"
    .items__item__info
      .items__item__info__name
        商品名
      .items__item__info__price
        ¥1,000